@import "../../../styles/variables";
.unfold-container {
  padding: 10rem 0px;
  padding-bottom: 0;
}
.img_section {
  
  
  img {
    width: 100%;
    height: auto;
  }
}
.unfold_para {
  .para_fold {
    margin: 25px 0px;
    color: rgb(255, 255, 255);
    font-family: "Candara";
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
  }
  .unfold {
    padding: 25px 0;
    background-color: #c4c4c4;
    h3 {
      color: black;
      font-family: $font-text;
      margin-bottom: 30px;
      font-size: 30px;
      font-weight: bolder;
      text-align: center;
    }
    .unfold_flex {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      .unfold_flex_left {
        width: 50%;
        padding-left: 5%;
        padding-right: 2%;
        p {
          color: black;
          font-family: "Candara";
          font-size: 20px;
          font-weight: 400;
          font-style: normal;
          line-height: 30px;
          letter-spacing: 0em;
        }
        button {
          margin-top: 25px;
          font-family: "Candara", sans-serif;
          font-style: normal;
          font-size: 20px;
          line-height: 32px;
          text-align: center;
          background: #e62b1e;
          border-radius: 20px;
          padding: 0.1rem 3rem;
          color: #ffffff;
          outline: none;
          border: 1px solid transparent;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          a {
            color: #ffffff;
            text-decoration: none;
            &:hover {
              color: #e62b1e;
            }
          }
          &:hover {
            background: #ffffff;
            border: 1px solid #e62b1e;
            color: #e62b1e;
          }
        }
      }
      .unfold_flex_right {
        width: 50%;
        padding-right: 5%;
        img {
          width: 100%;
          height: auto;
          border: 1px solid transparent ;
          border-radius: 20px;
        }
      }
    }
  }

  .unfold_1 {
    padding: 25px 0;
    background-color: #c4c4c4;
    h3 {
      color: black;
      font-family: $font-text;
      margin-bottom: 30px;
      font-size: 30px;
      font-weight: bolder;
      text-align: center;
    }
    .unfold_flex_1 {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      flex-direction: row-reverse;
      .unfold_flex_left_1 {
        width: 50%;
        padding-left: 5%;
        padding-right: 2%;
        p {
          color: black;
          font-family: "Candara";
          font-size: 20px;
          font-weight: 400;
          font-style: normal;
          line-height: 30px;
          letter-spacing: 0em;
        }
        button {
          margin-top: 25px;
          font-family: "Candara", sans-serif;
          font-style: normal;
          font-size: 20px;
          line-height: 32px;
          text-align: center;
          background: #e62b1e;
          border-radius: 20px;
          padding: 0.1rem 3rem;
          color: #ffffff;
          outline: none;
          border: 1px solid transparent;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          a {
            color: #ffffff;
            text-decoration: none;
            &:hover {
              color: #e62b1e;
            }
          }
          &:hover {
            background: #ffffff;
            border: 1px solid #e62b1e;
            color: #e62b1e;
          }
        }
      }
      .unfold_flex_right_1 {
        width: 50%;
        padding-left: 5%;
        img {
          width: 100%;
          height: auto;
          border: 1px solid transparent ;
          border-radius: 20px;
        }
      }
    }
  }
}
@media (max-width: 892px) {
  .img_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    img {
      height: auto;
    }
  }
  .unfold_para {
    .para_fold {
      margin-bottom: 25px;
      color: white;
      font-family: "Candara";
      font-size: 20px;
      font-weight: 400;
      font-style: normal;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: center;
    }
    .unfold {
      padding: 25px 0;
      background-color: #c4c4c4;
      h3 {
        padding-left: 5%;
        padding-right: 2%;
      }
      .unfold_flex {
        display: flex;
        width: 100%;

        flex-direction: column-reverse;
        .unfold_flex_left {
          width: 100%;
          padding-left: 5%;
          padding-right: 2%;
          p {
            color: black;
            font-family: "Candara";
            font-size: 20px;
            font-weight: 400;
            font-style: normal;
            line-height: 30px;
            letter-spacing: 0em;
          }
          button {
            margin-top: 25px;
            font-family: "Candara", sans-serif;
            font-style: normal;
            font-size: 20px;
            line-height: 32px;
            text-align: center;
            background: #e62b1e;
            border-radius: 20px;
            padding: 0.1rem 3rem;
            color: #ffffff;
            outline: none;
            border: 1px solid transparent;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            a {
              color: #ffffff;
              text-decoration: none;
              &:hover {
                color: #e62b1e;
              }
            }
            &:hover {
              background: #ffffff;
              border: 1px solid #e62b1e;
              color: #e62b1e;
            }
          }
        }
        .unfold_flex_right {
          width: 100%;
          padding-left: 5%;
        }
      }
    }

    .unfold_1 {
      padding: 25px 0;
      background-color: #c4c4c4;
      h3 {
        color: black;
        font-family: $font-text;
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: bolder;
        text-align: center;
      }
      .unfold_flex_1 {
        display: flex;
        width: 100%;
        flex-direction: column-reverse;

        .unfold_flex_left_1 {
          width: 100%;
          padding-left: 5%;
          padding-right: 2%;
        }
        .unfold_flex_right_1 {
          width: 100%;
          padding-left: 5%;
          padding-right: 5%;
        }
      }
    }
  }
}
@media (max-width: 774px) {
  .img_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    width: 100%;
    img {
      width: 100%;

      height: auto;
    }
  }
  .unfold_para {
    .para_fold {
      margin-bottom: 25px;
      font-family: "Candara";
      font-size: 20px;
      font-weight: 400;
      font-style: normal;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: center;
    }
    .unfold {
      padding: 25px 0;
      background-color: #c4c4c4;
      h3 {
        padding-left: 5%;
        padding-right: 2%;
      }
      .unfold_flex {
        display: flex;
        width: 100%;

        flex-direction: column-reverse;
        .unfold_flex_left {
          width: 100%;
          padding-left: 5%;
          padding-right: 2%;
          p {
            color: black;
            font-family: "Candara";
            font-size: 20px;
            font-weight: 400;
            font-style: normal;
            line-height: 30px;
            letter-spacing: 0em;
          }
          button {
            margin-top: 25px;
            font-family: "Candara", sans-serif;
            font-style: normal;
            font-size: 20px;
            line-height: 32px;
            text-align: center;
            background: #e62b1e;
            border-radius: 20px;
            padding: 0.1rem 3rem;
            color: #ffffff;
            outline: none;
            border: 1px solid transparent;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            a {
              color: #ffffff;
              text-decoration: none;
              &:hover {
                color: #e62b1e;
              }
            }
            &:hover {
              background: #ffffff;
              border: 1px solid #e62b1e;
              color: #e62b1e;
            }
          }
        }
        .unfold_flex_right {
          width: 100%;
          padding-left: 5%;
        }
      }
    }

    .unfold_1 {
      padding: 25px 0;
      background-color: #c4c4c4;
      h3 {
        color: black;
        font-family: $font-text;
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: bolder;
        text-align: center;
      }
      .unfold_flex_1 {
        display: flex;
        width: 100%;
        flex-direction: column-reverse;

        .unfold_flex_left_1 {
          width: 100%;
          padding-left: 5%;
          padding-right: 2%;
        }
        .unfold_flex_right_1 {
          width: 100%;
          padding-left: 5%;
          padding-right: 5%;
        }
      }
    }
  }
}
