@import "../../../styles/_variables";

.pandemonium-container {
  display: inline-flex;
  align-items: center;
  padding: 15rem 3rem;
  & .pandemonium-section1,
  .pandemonium-section2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    video {
      width: 100%;
      height: auto;
    }
    & .pandemonium-spanText {
      font-family: $font-text;

      font-style: normal;
      font-weight: 300;
      line-height: 28px;
      color: #d1cfcf;
      font-size: 3rem;
      padding-left: 1rem;
    }
    & .pandemonium-embr-title {
      font-size: 80px;
    }
  }
  & .pandemonium-section1 {
    & .gifimg {
      mix-blend-mode: screen;
    }
  }
  & .pandemonium-section2 {
    text-align: justify;
    display: flex;
    align-items: flex-end;
    & .pandemonium-embr-para {
      font-family: "Candara";
      font-style: normal;
      font-weight: 300;
      letter-spacing: 0.1em;
      color: #e0dfdf;
      font-size: 20px;
      width: 80%;
      text-align: left;
    }
  }
}
@media screen and (max-width: $medium) {
  .pandemonium-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1.5rem;
    & .pandemonium-section1,
    .pandemonium-section2 {
      width: 100%;
      
      & .pandemonium-spanText {
        width: 100%;
        font-size: 12px;
        padding-left: 0px;
      }
      & .pandemonium-embr-title {
        font-size: 50px;
      }
    }

    & .pandemonium-section2 {
      align-items: center;
      width: 100%;
      & .pandemonium-embr-para {
        width: 100%;
        text-align: justify;
        font-size: 15px;
      }
    }
    & .sm-padding {
      padding-bottom: 1rem;
    }
  }
}