@import "../../styles/_variables";

.NewsletterSignup-wrapper {
  background: linear-gradient(90deg, #3a3a3a, #191919);
  height: 100vh;
  width: 100%;
  color: #000;
  position: realtive;
  .fas.fa-envelope {
    color: #fff;
    font-size: 2rem;
    background: #333;
    padding: 1rem;
    border-radius: 100%;
    margin: 0 0 1rem 0;
  }

  .card-content {
    width: 50%;
    background-color: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    padding: 4rem 0.5rem;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    text-align: center;
  }

  .card-content h1 {
    text-transform: uppercase;
    margin: 0 0 1rem 0;
    font-size: 50px;
  }

  .card-content p {
    font-size: 0.8rem;
    margin: 0 0 2rem 0;
    font-size: 15px;
  }

  input {
    padding: 1.4rem 1rem;
    width: 40%;
    border-bottom-left-radius: 5rem;
    border-top-left-radius: 5rem;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    outline: none;
    border: 0.1rem solid #d1d1d1;
    font-size: 1rem;
  }

  ::placeholder {
    color: #d1d1d1;
  }

  .subscribe-btn {
    padding: 1.5rem 2rem;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius:5rem;
    border-bottom-right-radius:5rem;
    background: #e62b1e;
    color: #fff;
    font-size: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

@media screen and (max-width: 700px) {
  .NewsletterSignup-wrapper {
    .card-content {
      width: 95%;
      padding: 4rem 0px;
    }
    .card-content h1 {
      font-size: 25px;
    }
    input {
      padding: .8rem 1rem;
      font-size: .8rem;
    }
    .subscribe-btn {
      padding: .8rem 2rem;
      font-size: .8rem;
    }
  
  }
  
}
