@import "../../../styles/variables";
.container-5 {
    padding-top: 70px;
    color: black;

    img {
        height: 22px;
        //width: 50rem;
    }
    .heading {
        width: 100%;
        display: inline-block;
        margin-bottom: 10px;
        h2 {
            padding-left: 5%;

            font-family: $font-text;
            margin-bottom: 10px;
            font-size: 55px;
            font-weight: bolder;
        }
    }
    p {
        padding-left: 5%;
        margin-bottom: 10px;
        font-family: "Candara";
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
    }

    .speakers-class {
        padding-left: 5%;
        background-image: url("https://res.cloudinary.com/dfgz4hsg0/image/upload/v1651525962/Website%20Content/Endevaour/Edition%205/Unravelling_the_Parallax_wsf4iv.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;

        h2 {
            margin-top: 10px;
            font-family: $font-text;
            margin-top: 40px;
            font-size: 50px;
            font-weight: bolder;
        }
        

        .performers {
            h3 {
                font-family: "Raleway";
                font-weight: bolder;
                color: black;
                padding-top: 30px;
                font-size: 40px;
            }
            p {
                font-family: "Candara";
                font-size: 20px;
                font-weight: 400;
                font-style: normal;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: left;
                padding-left: 0;
            }
        }
        .performers-title {
            h2 {
                margin-top: 10px;
                font-family: $font-text;
                margin-top: 40px;
                font-size: 45px;
                font-weight: bolder;
            }
            img{
                height: 22px;
            }
        }

        .performers-flex {
            display: flex;

            .performers-flex-left,
            .performers-flex-right {
                width: 50%;
                h3 {
                    font-family: "Raleway";
                    font-weight: bolder;
                    color: black;
                    padding-top: 20px;
                    font-size: 40px;
                }
                p {
                    font-family: "Candara";
                    font-size: 20px;
                    font-weight: 400;
                    font-style: normal;
                    line-height: 30px;
                    letter-spacing: 0em;
                    text-align: left;
                }
            }
        }
    }
    .titleee {
        margin-top: 40px;
        text-align: center;
        h2 {

            font-family: $font-text;
            margin-bottom: 10px;
            font-size: 55px;
            font-weight: bolder;
        }
    }

    .edition5-img {
        display: flex;
        justify-content: center;
        margin: 0 auto;

        img {
            margin-bottom: 35px;
            border: 1px solid transparent;
            border-radius: 20px;
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 718px) {
    .container-5 {
        img{
            height: auto;
            width: 90%;
        }
        .performers-flex {
            flex-direction: column;
    
            .performers-flex-left,
            .performers-flex-right {
                width: 100%;
                h3 {
                    width: 100%;
                    font-family: "Raleway";
                    font-weight: bolder;
                    color: black;
                    padding-top: 20px;
                    font-size: 40px;
                }
                p {
                    font-family: "Candara";
                    font-size: 20px;
                    font-weight: 400;
                    font-style: normal;
                    line-height: 30px;
                    letter-spacing: 0em;
                    text-align: left;
                }
            }
        }
        .speakers-class{
            background: none;
        }
    }
    
}
