@import "../../styles/_variables.scss";

.map-container {
  font-family: $font-default;

  & .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 0rem;
    @import url("https://fonts.googleapis.com/css?family=Lato");
    color: #000;

    /* Global */
    :root {
      font-size: calc(1vw + 1vh + 0.5vmin);
    }

    * {
      box-sizing: border-box;
      //Changes
      display: flow-root;
    }

    body {
      background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      min-height: 100vh;
      font-family: "Lato", sans-serif;
      margin: 0;
    }

    h1 {
      text-align: center;
    }

    /* Default links */
    a[href]:not([class]) {
      color: #ffc6ff;
      text-decoration: none;
    }

    #app {
      padding: 0 1.25em;
      width: 100%;
    }

    /* Timeline */
    .timeline-container {
      display: flex;
      flex-direction: column;
      position: relative;
      margin: 40px 0;
    }

    .timeline-container::after {
      background-color: #e17b77;
      content: "";
      position: absolute;
      left: calc(50% - 2px);
      width: 4px;
      height: 100%;
    }

    .timeline-item {
      display: flex;
      justify-content: flex-end;
      padding-right: 30px;
      position: relative;
      margin: 10px 0;
      width: 50%;
    }

    .timeline-item:nth-child(odd) {
      align-self: flex-end;
      justify-content: flex-start;
      padding-left: 30px;
      padding-right: 0;
    }

    .timeline-item-content {
      box-shadow: 0 0 5px rgb(0 0 0 / 30%);
      border-radius: 5px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      /* align-items: flex-end; */
      padding: 15px;
      position: relative;
      width: 400px;
      max-width: 100%;
      /* text-align: right; */
      align-items: center;
      justify-content: center;
    }

    .timeline-item-content::after {
      content: " ";
      background-color: #fff;
      box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
      position: absolute;
      right: -7.5px;
      top: calc(50% - 7.5px);
      transform: rotate(45deg);
      width: 15px;
      height: 15px;
    }

    .timeline-item:nth-child(odd) .timeline-item-content {
      display: flex;
      justify-content: center;
      /* align-items: flex-start; */
      align-items: center;
    }

    .timeline-item:nth-child(odd) .timeline-item-content::after {
      right: auto;
      left: -7.5px;
      box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
    }

    .timeline-item-content .tag {
      display: none;
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      top: 5px;
      left: 5px;
      letter-spacing: 1px;
      padding: 5px;
      position: absolute;
      text-transform: uppercase;
    }

    .timeline-item:nth-child(odd) .timeline-item-content .tag {
      left: auto;
      right: 5px;
      display: none;
    }

    .timeline-item-content time {
      color: #777;
      font-weight: bold;

      padding: 2%;
      text-align: center;
      font-family: "Raleway";
      font-size: 20px;
      line-height: 50px;
      color: #333333;
    }

    .timeline-item-content p {
      line-height: 1.6;
      max-width: 250px;
      font-size: 13px;
      font-weight: 400;

    }

    .timeline-item-content a {
      color: #333;
      text-decoration: none;
      font-size: 14px;
      font-weight: bold;
    }

    .timeline-item-content a::after {
      content: " ►";
      font-size: 12px;
    }

    .timeline-item-content .circle {
      background-color: #fff;
      border: 3px solid #e17b77;
      border-radius: 50%;
      position: absolute;
      top: calc(50% - 10px);
      right: -40px;
      width: 20px;
      height: 20px;
      z-index: 100;
    }

    .timeline-item:nth-child(odd) .timeline-item-content .circle {
      right: auto;
      left: -40px;
    }

    @media only screen and (max-width: 1023px) {
      .timeline-item-content {
        max-width: 100%;
      }
    }

    @media only screen and (max-width: 767px) {
      .timeline-item-content,
      .timeline-item:nth-child(odd) .timeline-item-content {
        //padding: 15px 10px;
        text-align: center;
        align-items: center;
      }

      .timeline-item-content .tag {
        width: calc(100% - 10px);
        text-align: center;
      }

      .timeline-item-content time {
        margin-top: 20px;
      }

      .timeline-item-content a {
        text-decoration: underline;
      }

      .timeline-item-content a::after {
        display: none;
      }
    }


    @media only screen and (max-width: 416px) {
      .timeline-item-content {
       /* box-shadow: 0 0 5px rgb(0 0 0 / 30%);
        border-radius: 5px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
         align-items: flex-end; */
        padding: 15px;
        //position: relative;
        width: 334px;
        /*max-width: 100%;
         text-align: right; 
        align-items: center;
        justify-content: center;*/
      }
      

    }

    @media only screen and (max-width: 368px) {
      .timeline-item-content {
       /* box-shadow: 0 0 5px rgb(0 0 0 / 30%);
        border-radius: 5px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
         align-items: flex-end; */
        padding: 0;
        //position: relative;
        width: 250px;
        /*max-width: 100%;
         text-align: right; 
        align-items: center;
        justify-content: center;*/
      }
      

    }

  }
}
