@import "../../styles/variables";
.privacy_policy {
  text-align: center;
}
.privacy_policy h1 {
  padding-top: 140px;
  padding-bottom: 30px;
  font-family: $font-text;
  font-size: 44px;
  color: #333333;
  text-align: left;
  padding-left: 70px;
}
.privacy_policy .para {
  padding: 70px;
  padding-bottom:30px ;
  padding-top: 3px;
  text-align: left;
  font-family: "Candara";
  color: #000;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  text-align: justify;
  margin-right: 20%;
}
.privacy_policy p {
  padding: 70px;
  padding-top: 10px;
  text-align: left;
  font-family: "Candara";
  color: #000;
  font-size: 20px;
  line-height: 36px;
  text-align: justify;
  margin-right: 20%;
  span{
    font-family: $font-text;
    font-weight: 600;
  }
}
.headings_privacy {
  font-size: 22px;
  font-family: $font-text;
  margin-bottom: 20px;
  display: inline-block;
}
@media screen and (max-width: 962px) {
  .privacy_policy p,.privacy_policy .para {
    width: 100%;
    padding: 30px;
    padding-top: 0;
    margin-right: 0;
  }
  .privacy_policy h1 {
    font-size: 44px;
    padding-left: 29px;
    text-align: left;
    padding-top: 140px;
  }
}

@media screen and (max-width: 660px) {
  .privacy_policy p,.privacy_policy .para {
    width: 100%;
    padding: 30px;
    padding-top: 0;
    margin-right: 0;
  }
  .privacy_policy h1 {
    font-size: 44px;
    padding-left: 29px;
    text-align: left;
    padding-top: 140px;
  }
}

@media screen and (max-width: 510px) {
  .privacy_policy p,.privacy_policy .para {
    width: 100%;
    padding: 30px;
    padding-top: 0;
    margin-right: 0;
  }
  .privacy_policy h1 {
    font-size: 44px;
    padding-left: 29px;
    text-align: left;
  }
}


