@font-face {
    font-family: 'Aileron-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Aileron-Regular'), url('./Aileron-Regular.otf') format('otf');
  }
  @font-face {
    font-family: 'Aileron-SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Aileron-SemiBold'), url('./Aileron-SemiBold.otf') format('otf');
  }
  @font-face {
    font-family: 'Aileron-Light';
    font-style: normal;
    font-weight: normal;
    src: local('Aileron-Light'), url('./Aileron-Light.otf') format('otf');
  }